<div class="row justify-content-center">
    <div class="col-md-12 text-center p-5">
        <h1>Shopping Cart</h1>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <img src="https://via.placeholder.com/150/007BFF/FFFFFF?text=Cool%20Product" class="img-thumbnail"
                    alt="Cool Product">
            </div>
            <div class="col-md-9">
                <h5>Cool Product</h5>
                <p class="font-weight-bold">UGX 40,000</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <img src="https://via.placeholder.com/150/007BFF/FFFFFF?text=Cooler%20Product" class="img-thumbnail"
                    alt="Cooler Product">
            </div>
            <div class="col-md-9">
                <h5>Cooler Product</h5>
                <p class="font-weight-bold">KES 10,000</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-primary text-center cardform">
            <div class="card-header">Order Summary</div>
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Total: UGX 50,000</h5>
                <form action="/pay" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="phoneNumber" placeholder="+256782872845"
                            required />
                        <small>Remember to include the country code e.g +256</small>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="johndoe@gmail.com"
                            required />
                    </div>
                    <button type="submit" class="btn btn-primary btn-outline-light btn-lg btn-block">Buy</button>
                </form>
            </div>
        </div>
    </div>
</div>