<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 p-5">
            <div class="alert alert-primary text-center" role="alert">
                <p>We're processing your payment, kindly check your mobile phone for a payment prompt.</p>
                <a href="/">Go back to shopping cart</a>
            </div>
        </div>
    </div>
</div>